Automatic YT post Veo 3 Video.json
{
  "name": "Automatic YT post Veo 3 Video",
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1z8sre6_7xhrmoN_cnG0mJiPKW60cUJtFT1HlLsqVMio",
          "mode": "list",
          "cachedResultName": "n8n-media",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z8sre6_7xhrmoN_cnG0mJiPKW60cUJtFT1HlLsqVMio/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "veo3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z8sre6_7xhrmoN_cnG0mJiPKW60cUJtFT1HlLsqVMio/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date_requested": "={{ $('Type Prompt').item.json.submittedAt }}",
            "prompt": "={{ $('Videography').item.json.text }}",
            "request_url": "=https://fal.ai/models/fal-ai/veo3/requests/{{ $json.request_id }}"
          },
          "matchingColumns": [
            "request_url"
          ],
          "schema": [
            {
              "id": "date_requested",
              "displayName": "date_requested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request_url",
              "displayName": "request_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        192,
        -80
      ],
      "id": "73f3c07c-3b0d-41c5-902e-471cb2154a97",
      "name": "Store Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QX4RxeMUesSFppha",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Create Veo3 Video",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt",
              "fieldType": "textarea",
              "placeholder": "An eerie scene on a lake on the high Nevada desert.. ",
              "requiredField": true
            },
            {
              "fieldLabel": "Video Style",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Dialogue"
                  },
                  {
                    "option": "Monologue"
                  },
                  {
                    "option": "Advertisement"
                  },
                  {
                    "option": "Documentary"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Aspect Ratio",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "16:9"
                  },
                  {
                    "option": "9:16"
                  },
                  {
                    "option": "1:1"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Video Category",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Film & Animation"
                  },
                  {
                    "option": "Autos & Vehicles"
                  },
                  {
                    "option": "Music"
                  },
                  {
                    "option": "Pets & Animals"
                  },
                  {
                    "option": "Sports"
                  },
                  {
                    "option": "Short Movies"
                  },
                  {
                    "option": "Travel & Events"
                  },
                  {
                    "option": "Gaming"
                  },
                  {
                    "option": "Videoblogging"
                  },
                  {
                    "option": "People & Blogs"
                  },
                  {
                    "option": "Comedy"
                  },
                  {
                    "option": "Entertainment"
                  },
                  {
                    "option": "News & Politics"
                  },
                  {
                    "option": "Howto & Style"
                  },
                  {
                    "option": "Education"
                  },
                  {
                    "option": "Science & Technology"
                  },
                  {
                    "option": "Nonprofits & Activism"
                  },
                  {
                    "option": "Movies"
                  },
                  {
                    "option": "Anime/Animation"
                  },
                  {
                    "option": "Action/Adventure"
                  },
                  {
                    "option": "Classics"
                  },
                  {
                    "option": "Comedy"
                  },
                  {
                    "option": "Documentary"
                  },
                  {
                    "option": "Drama"
                  },
                  {
                    "option": "Family"
                  },
                  {
                    "option": "Foreign"
                  },
                  {
                    "option": "Horror"
                  },
                  {
                    "option": "Sci-Fi/Fantasy"
                  },
                  {
                    "option": "Thriller"
                  },
                  {
                    "option": "Shorts"
                  },
                  {
                    "option": "Shows"
                  },
                  {
                    "option": "Trailers"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -32,
        -384
      ],
      "id": "16dc0f5e-4940-4822-8145-903961e239e6",
      "name": "Type Prompt",
      "webhookId": "0a2fd6c9-41d2-417b-b127-6ee76b8bf9f9"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        400,
        -80
      ],
      "id": "22b7e038-266e-4318-ab9d-c785c1f66ad0",
      "name": "Wait 5 mins",
      "webhookId": "b9936e8b-f3bc-4286-8dc6-6824561bc026"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"VideoTitle\": \"🤯 This NEW Gadget Will Change Your Life! (Must See)\",\n  \"VideoDescription\": \"Unboxing and in-depth review of the revolutionary new XYZ Gadget! Discover how this incredible device can transform your daily routine. We cover features, pros, cons, and a live demo. Don't miss out!\",\n  \"VideoTags\": [\"XYZ Gadget\", \"Tech Review\", \"New Tech\", \"Innovation\", \"Gadget Review\", \"Life Changing Tech\", \"Must See\", \"Viral Tech\"],\n\"YouTubeCategory\": \"28\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        160,
        352
      ],
      "id": "f145ccec-54ed-4e8b-964f-9242f755500d",
      "name": "Structured Output"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -16,
        352
      ],
      "id": "541336ec-1905-4450-be25-c3e1c87fd4cb",
      "name": "AI Brain",
      "credentials": {
        "openRouterApi": {
          "id": "Rl2ETI0lzrTgXV0r",
          "name": "YT-Channel-SEO"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst allKeywords = items.flatMap(item => {\n  const output = item?.json?.output;\n  if (!output) {\n    return [];\n  }\n  return [\n    ...(output.VideoTags || [])\n  ];\n});\n\nconst keywordList = allKeywords.filter(keyword => keyword).join(', ');\n\nreturn [{ json: { youtubeKeywords: keywordList } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        192
      ],
      "id": "c6d924d3-e5b3-4b8f-8463-0b69eee36d61",
      "name": "Get Keywords"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Return the following information for my YT Video to post. Choose the appropriate YouTube category code based on the input I chose : {{ $('Type Prompt').item.json['Video Category'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a YouTube SEO specialist and viral content strategist. Your goal is to generate a compelling video title, a detailed video description, and relevant video tags for a video based on its dialog, with the ultimate aim of making the video go viral.\n\nInput format:\n- Video Scene: {{ $json.prompt }}\n\nOutput format (JSON):\n{\n  \"VideoTitle\": \"<compelling video title in less than 6 words>\",\n  \"VideoDescription\": \"<detailed video description>\",\n  \"VideoTags\": [\"<tag1>\", \"<tag2>\", ...],\n  \"YouTubeCategory\": \"<category name>\"\n}\n\nAnalysis guidelines:\n1. Analyze the video dialog to understand the core message, key topics, and emotional tone.\n2. Generate a video title that is catchy, keyword-rich, and designed for virality.\n3. Create a detailed video description that summarizes the content, includes relevant keywords, and encourages engagement.\n4. Identify 5-10 highly relevant and trending tags to maximize discoverability.\n5. Determine the most appropriate YouTube category for the video from the following official list:\n[\n  {\n    \"Film & Animation\": \"1\"\n  },\n  {\n    \"Autos & Vehicles\": \"2\"\n  },\n  {\n    \"Music\": \"10\"\n  },\n  {\n    \"Pets & Animals\": \"15\"\n  },\n  {\n    \"Sports\": \"17\"\n  },\n  {\n    \"Short Movies\": \"18\"\n  },\n  {\n    \"Travel & Events\": \"19\"\n  },\n  {\n    \"Gaming\": \"20\"\n  },\n  {\n    \"Videoblogging\": \"21\"\n  },\n  {\n    \"People & Blogs\": \"22\"\n  },\n  {\n    \"Comedy\": \"23\"\n  },\n  {\n    \"Entertainment\": \"24\"\n  },\n  {\n    \"News & Politics\": \"25\"\n  },\n  {\n    \"Howto & Style\": \"26\"\n  },\n  {\n    \"Education\": \"27\"\n  },\n  {\n    \"Science & Technology\": \"28\"\n  },\n  {\n    \"Nonprofits & Activism\": \"29\"\n  },\n  {\n    \"Movies\": \"30\"\n  },\n  {\n    \"Anime/Animation\": \"31\"\n  },\n  {\n    \"Action/Adventure\": \"32\"\n  },\n  {\n    \"Classics\": \"33\"\n  },\n  {\n    \"Comedy\": \"34\"\n  },\n  {\n    \"Documentary\": \"35\"\n  },\n  {\n    \"Drama\": \"36\"\n  },\n  {\n    \"Family\": \"37\"\n  },\n  {\n    \"Foreign\": \"38\"\n  },\n  {\n    \"Horror\": \"39\"\n  },\n  {\n    \"Sci-Fi/Fantasy\": \"40\"\n  },\n  {\n    \"Thriller\": \"41\"\n  },\n  {\n    \"Shorts\": \"42\"\n  },\n  {\n    \"Shows\": \"43\"\n  },\n  {\n    \"Trailers\": \"44\"\n  }\n]\n6. Ensure the total length of tags, when joined by commas, is within YouTube's limits (typically 500 characters).\n7. Ensure individual words within tags are not collated (e.g., \"LifeChangingTech\" should be \"Life Changing Tech\").\n\nExample output for a video about a new tech gadget:\n{\n  \"VideoTitle\": \"🤯 This NEW Gadget Will Change Your Life! (Must See)\",\n  \"VideoDescription\": \"Unboxing and in-depth review of the revolutionary new XYZ Gadget! Discover how this incredible device can transform your daily routine. We cover features, pros, cons, and a live demo. Don't miss out!\",\n  \"VideoTags\": [\"XYZ Gadget\", \"Tech Review\", \"New Tech\", \"Innovation\", \"Gadget Review\", \"Life Changing Tech\", \"Must See\", \"Viral Tech\"],\n\"YouTubeCategory\": \"28\"\n}",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -16,
        192
      ],
      "id": "649bb0b2-994d-49e2-96be-ec3e3690a5c4",
      "name": "YT Video SEO",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        368,
        -224
      ],
      "id": "2e170ba3-abc6-46f4-9c2b-bed7a04a2ee7",
      "name": "AI_Brain",
      "credentials": {
        "openRouterApi": {
          "id": "ATtoilRBVuHlMkSk",
          "name": "n8n-veo3"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('YT Video SEO').item.json.output.VideoTitle }}",
        "regionCode": "US",
        "categoryId": "={{ $('YT Video SEO').item.json.output.YouTubeCategory }}",
        "options": {
          "description": "={{ $('YT Video SEO').item.json.output.VideoDescription }}",
          "embeddable": true,
          "privacyStatus": "private",
          "tags": "={{ $('Get Keywords').item.json.youtubeKeywords }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        400,
        528
      ],
      "id": "22e836ad-8f4e-4303-bf23-071ec4d6d46b",
      "name": "Post on YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "qdjUwsJWXqrUUvfK",
          "name": "YouTube Llanai"
        }
      }
    },
    {
      "parameters": {
        "content": "# Guide\n\n## 📹 Veo3 Video Creation\n### Prompt: Type a simple scenario. AI will improve it.\n### Duration: 8s - no choice on this\n\n## ⏳ Wait 5 mins\n\n### Necessary due 3-5 mins until video is ready\n\n## 📺 YouTube Posting\n\n### LLM Call will generate :\n### 1. Title\n### 2. Description\n### 3. Tags\n### 4. Category",
        "height": 600,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        -224
      ],
      "id": "bfaa7f93-843a-4985-983f-3416181ac3b2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('Make FAL.AI Request').item.json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 6d4721ec-dda0-4d33-838f-4ecb941374f6:74748f7e6383b8e25c6628f1f0b8d86f"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        528
      ],
      "id": "972b1cc2-4b1d-4aca-9e23-a61d06d67a61",
      "name": "Fetch Video Credentials"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z8sre6_7xhrmoN_cnG0mJiPKW60cUJtFT1HlLsqVMio",
          "mode": "list",
          "cachedResultName": "n8n-media",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z8sre6_7xhrmoN_cnG0mJiPKW60cUJtFT1HlLsqVMio/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1180931588,
          "mode": "list",
          "cachedResultName": "prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z8sre6_7xhrmoN_cnG0mJiPKW60cUJtFT1HlLsqVMio/edit#gid=1180931588"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "category",
              "lookupValue": "={{ $json['Video Style'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        192,
        -384
      ],
      "id": "7f5d89f7-5c0d-4c64-aa03-e708888d1b4b",
      "name": "Get Specific Prompt",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QX4RxeMUesSFppha",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Prompt: {{ $('Type Prompt').item.json.Prompt }} for a {{ $('Type Prompt').item.json['Video Category'] }} style video",
        "messages": {
          "messageValues": [
            {
              "message": "=The user wants a video about: {{ $json.prompt }}\n\nreturn it in the following JSON format :\n\n{\n  \"scene_summary\": \"An adventurer drives a Chevrolet Tahoe through Nevada's high desert, crossing diverse terrain to reach Lake Tahoe. The journey compresses 200 miles into 8 seconds, showcasing the vehicle's capability. The ad closes with the Chevrolet logo and 'Find New Roads' tagline.\",\n  \"character\": {\n    \"type\": \"outdoorsman/woman\",\n    \"personality\": [\"confident\", \"adventurous\", \"relaxed\"],\n    \"features\": {\n      \"movement\": \"relaxed driving posture, confident navigation, slight smile at destination\",\n      \"wardrobe\": \"flannel shirt, sunglasses, casual outdoor attire\"\n    }\n  },\n  \"environment\": {\n    \"location\": \"Nevada high desert to Lake Tahoe\",\n    \"time_of_day\": \"midday transitioning to afternoon\",\n    \"key_object\": {\n      \"name\": \"Chevrolet Tahoe\",\n      \"description\": \"Current model year in Summit White or Silver, all-terrain capable SUV\"\n    }\n  },\n  \"action_sequence\": [\n    {\n      \"camera\": \"wide aerial\",\n      \"description\": \"Tahoe driving through Nevada high desert with red rocks and Joshua trees, kicking up dust trail.\"\n    },\n    {\n      \"camera\": \"tracking shot\",\n      \"description\": \"Profile view at speed, driver visible, desert transitioning to rocky terrain, speed ramping begins.\"\n    },\n    {\n      \"camera\": \"time-lapse transition\",\n      \"description\": \"Landscape rapidly changes from desert to foothills, Joshua trees becoming pines, road winding upward.\"\n    },\n    {\n      \"camera\": \"ascending drone\",\n      \"description\": \"Following Tahoe climbing mountain pass, dense pine forest emerging, glimpses of water through trees.\"\n    },\n    {\n      \"camera\": \"through windshield\",\n      \"description\": \"Driver's POV as forest opens, Lake Tahoe appears, sun glinting off water.\"\n    },\n    {\n      \"camera\": \"wide reveal\",\n      \"description\": \"Tahoe pulls into scenic overlook, lake in background, driver steps out to admire view.\"\n    },\n    {\n      \"camera\": \"hero shot\",\n      \"description\": \"Tahoe at perfect angle with lake backdrop, golden afternoon light on vehicle.\"\n    },\n    {\n      \"camera\": \"logo reveal\",\n      \"description\": \"Chevrolet bowtie logo appears with 'Find New Roads' tagline, Lake Tahoe softly blurred behind.\"\n    }\n  ],\n  \"visuals\": {\n    \"lighting\": [\"harsh desert sun\", \"filtered forest light\", \"golden lake reflections\"],\n    \"style\": \"photorealistic documentary, time-lapse compression\",\n    \"color_palette\": \"warm desert oranges/reds shifting to cool alpine blues/greens\"\n  },\n  \"audio\": {\n    \"music\": \"modern country-rock instrumental, building energy\",\n    \"ambient\": [\"desert wind\", \"gravel crunching\", \"engine purr\", \"pine rustling\", \"water lapping\"]\n  },\n  \"render_settings\": {\n    \"negative_prompt\": {\n      \"exclude\": [\n        \"static vehicle shots\",\n        \"unrealistic speed\",\n        \"generic landscapes\",\n        \"aggressive driving\",\n        \"cluttered frames\",\n        \"CGI environments\",\n        \"competing vehicles\",\n        \"shaky camera work\"\n      ]\n    }\n  },\n  \"brand_message\": {\n    \"product_feature\": \"Chevrolet Tahoe - capability meets comfort for any journey.\",\n    \"emotional_connection\": \"Freedom to explore from desert to mountains.\",\n    \"tagline\": \"Find New Roads\",\n    \"call_to_action\": \"chevrolet.com/tahoe\"\n  }\n}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        400,
        -384
      ],
      "id": "7e2b0334-7ee4-4ee0-bea1-5722878e59c1",
      "name": "Videography"
    },
    {
      "parameters": {
        "url": "={{ $json.body.video.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        528
      ],
      "id": "30ff24ca-6226-4f12-833b-2dac6c52b627",
      "name": "Download Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 6d4721ec-dda0-4d33-838f-4ecb941374f6:74748f7e6383b8e25c6628f1f0b8d86f"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {{ JSON.stringify($json.text) }},\n  \"aspect_ratio\": {{ JSON.stringify($('Type Prompt').item.json['Aspect Ratio']) }}\n}",
        "options": {}
      },
      "id": "78b7ee1d-c0cd-46f6-93e1-c2ff8c8b8d02",
      "name": "Make FAL.AI Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -16,
        -80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Store Data": {
      "main": [
        [
          {
            "node": "Wait 5 mins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type Prompt": {
      "main": [
        [
          {
            "node": "Get Specific Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 mins": {
      "main": [
        [
          {
            "node": "YT Video SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "YT Video SEO",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Brain": {
      "ai_languageModel": [
        [
          {
            "node": "YT Video SEO",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Keywords": {
      "main": [
        [
          {
            "node": "Fetch Video Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Video SEO": {
      "main": [
        [
          {
            "node": "Get Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Videography",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Video Credentials": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on YouTube": {
      "main": [
        []
      ]
    },
    "Get Specific Prompt": {
      "main": [
        [
          {
            "node": "Videography",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Videography": {
      "main": [
        [
          {
            "node": "Make FAL.AI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Post on YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make FAL.AI Request": {
      "main": [
        [
          {
            "node": "Store Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "49f1ecc1-a424-4cb3-9e10-dfa177660c6c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b9aff0ecdeb17791c04b93eac72e39e69151cfa63708980e5d936abe9308b8c"
  },
  "id": "LhLjl99uI0KRBmce",
  "tags": []
}