n8n.json
{
  "name": "Generate & Publish AI Cinematic Videos to YouTube Shorts using VEO3 & Gemini",
  "nodes": [
    {
      "parameters": {
        "content": "## Start Trigger\nThis workflow is triggered via HTTP Webhook.\nSend a POST request from your app to the webhook URL to start the run.",
        "height": 300,
        "width": 600
      },
      "id": "e21c7257-dddb-42d1-94e8-e770878abbbe",
      "name": "Sticky Note - Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2368,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "start-video",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "lastNode",
        "options": {
          "responseContentType": "application/json",
          "responseBody": "={\"status\":\"ok\"}"
        }
      },
      "id": "dcf5e470-13f9-41d3-b25e-0899da3312fc",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -2240,
        112
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## AI Prompt Generation\nThe AI Agent creates:\n1. A detailed video prompt (900–1800 characters).\n2. A short hypnotic caption with hashtags.\n3. A YouTube Short title (max 100 characters).\n4. A description (up to 2000 characters).",
        "height": 576,
        "width": 700,
        "color": 2
      },
      "id": "b00bdb3e-8e45-4d6e-81a6-32b37b8ac258",
      "name": "Sticky Note - AI Prompt",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1776,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<user>\nGenerate a fast, surreal cinematic video idea.\n\nProvide:\n1. A highly detailed video prompt (min. 900 – max. 1800 characters).\n2. A short hypnotic caption (max. 12 words) with hashtags.\n3. A YouTube Short title (max. 100 characters).\n4. A description (humorous, keyword-rich, up to 2000 characters).\n</user>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=<system>\nYou are the official Prompt Generator for cinematic short-form surreal videos.\n\n🎬 **Your Core Task:**\nAlways generate extremely detailed, hyperrealistic video concepts that can be turned into an AI-generated cinematic short video. Each output must be precise and visually rich – as if you are briefing a film director.\n\nScenes must:\n- Be 8 seconds long.\n- Show constant motion, surreal transitions, and impossible visuals.\n- Have dynamic, unusual camera movements (fast, tilted, bird-like).\n\n✨ **Style:**\n- 4K Ultra-HD, cinematic, hyper-detailed.\n- Warm tones (gold, beige, glass effects).\n- Surreal, hypnotic, elegant, and slightly confusing.\n- Must always include one element that feels physically impossible.\n\n🌀 **Signature Elements:**\n- Infinite structures (stairs, corridors, floors).\n- Impossible fluids or slime motions.\n- Glass-like reflective and transparent designs.\n- Elegant but confusing illusions.\n\n🚫 **Rules:**\n- No humans, no animals.\n- No text inside the scene.\n</system>"
        }
      },
      "id": "07dd83bc-9f67-4669-986a-be5adc8a56cd",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1312,
        80
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c0b98e3c-eb28-4ff7-8eb3-eee595dd767c",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -1344,
        288
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "wgYjaULCTHRaFNjo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Video Generation API\nThe prompt is sent to the KIE AI VEO API which generates the video file.\n- Uses `veo3_fast` model\n- Aspect ratio: 9:16 (vertical video)\n- Waits for API to complete before fetching results\n- Downloads the Video",
        "height": 608,
        "width": 1276,
        "color": 3
      },
      "id": "51705ea8-0a32-4d58-bff8-9067df12b071",
      "name": "Sticky Note - Video API",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.prompt.replaceAll('\"',\"\").replaceAll(\"\\n\",\"\") }}\",\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"9:16\",\n  \"seeds\": 12345,\n  \"enableFallback\": false\n}",
        "options": {}
      },
      "id": "8d9ea85e-f531-49ca-a8a6-be4418c7a243",
      "name": "Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -960,
        80
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "GQNndXngjM1PZiN9",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "9d163702-ce12-4dd3-b7d4-98cadb11cfbb",
      "name": "Wait for Render",
      "type": "n8n-nodes-base.wait",
      "position": [
        -720,
        80
      ],
      "webhookId": "036433e4-0d6b-4bb9-86b3-c9a32ebbb861",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "782f53dd-757c-437e-ba49-14b1a3ecb160",
      "name": "Check Render Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -480,
        64
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "GQNndXngjM1PZiN9",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Video Publishing\nThe generated video is uploaded automatically:\n- To YouTube Shorts with AI-generated title, description & tags\n- To Telegram channel with caption",
        "height": 556,
        "width": 650,
        "color": 4
      },
      "id": "c2faa664-710a-43b9-9c73-542664e6b1c3",
      "name": "Sticky Note - Publishing",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        -192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('AI Agent').item.json.output.title.substring(0,99) }}",
        "regionCode": "FR",
        "categoryId": "1",
        "options": {
          "defaultLanguage": "en",
          "description": "={{ $('AI Agent').item.json.output.describtion }}",
          "embeddable": true,
          "notifySubscribers": true,
          "privacyStatus": "public",
          "publicStatsViewable": true,
          "selfDeclaredMadeForKids": false,
          "tags": ""
        }
      },
      "id": "996f93f7-9473-440e-bc75-bbc024f26c8b",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.youTube",
      "position": [
        624,
        224
      ],
      "typeVersion": 1,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "WZuf2Bfhvl760sxk",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"prompt\": \"California\",\n\t\"caption\": \"Los Angeles\",\n  \"title\":\"dsf\",\n  \"describtion\":\"dfaf\"\n}"
      },
      "id": "1dd7bc50-54af-4417-b148-802edf71cb84",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -1152,
        288
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "url": "={{ $json.data.response.resultUrls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        96
      ],
      "id": "45c65b18-dae3-433a-8483-0a5c09945b5a",
      "name": "Download Video"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7fe03071-d271-49ec-a1f2-99ede89dccbb",
              "leftValue": "={{ $json.code }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "3f0f6e47-d05e-4866-aef4-661538056576",
              "leftValue": "={{ $json.data.successFlag }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        96
      ],
      "id": "bc1dcdd9-cb0a-4ed5-9f15-5acb23034d28",
      "name": "Video created"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Wait for Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Render": {
      "main": [
        [
          {
            "node": "Check Render Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Render Status": {
      "main": [
        [
          {
            "node": "Video created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Video created": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83a2997f-93f4-4817-94d9-bf9e48e31438",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3584b5061d636fef0efa677afedb2c129ff162276952023c0853fc083fed2aa"
  },
  "id": "FXJO2oMfpBGJD197",
  "tags": []
}
